<header>
  <div class="container text-center">
    <h1>L'évolution de l'art</h1>
    <p>dans le monde</p>
  </div>
</header>

<section class="timeline">
  <div class="container">

    <% @timelines.sort.each_with_index do |timeline, index| %>
      <% if index % 2 == 0%>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content timeline-card js--fadeInLeft">
            <div class="timeline-img-header" style="background: url('<%= timeline.icon %>') center center no-repeat; background-size: cover;">
              <h2><%= timeline.title %></h2>
            </div>
            <div class="date"><%= timeline.dates %></div>
            <p><%= timeline.description %></p>
            <%= link_to 'Voir les oeuvres', timeline %>
          </div>

        </div>  

      <% else %>

        <div class="timeline-item">

          <div class="timeline-img"></div>

          <div class="timeline-content timeline-card js--fadeInRight">
            <div class="timeline-img-header" style="background: url('<%= timeline.icon %>') center center no-repeat; background-size: cover;">
              <h2><%= timeline.title %></h2>
            </div>
            <div class="date"><%= timeline.dates %></div>
            <p><%= timeline.description %></p>
            <!-- <a class="bnt-more" href="">Voir les oeuvres</a> -->
            <%= link_to 'Voir les oeuvres', timeline %>
          </div>
        </div>  

      <% end %>

    <% end %>

  </div>
</section>

<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th>Link</th>
      <th>Dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timelines.sort.each_with_index do |timeline, index| %>
      <tr>
        <td><%= timeline.title %></td>
        <td><%= timeline.description %></td>
        <td><%= timeline.icon %></td>
        <td><%= timeline.link %></td>
        <td><%= timeline.dates %></td>
        <td><%= index %></td>
        <td><%= link_to 'Show', timeline %></td>
        <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
        <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeline', new_timeline_path %>

-->
