<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @timeline.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @timeline.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @timeline.icon %>
</p>

<p>
  <strong>Link:</strong>
  <%= @timeline.link %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @timeline.dates %>
</p>

<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %> -->


<% if @timeline.title == "Les coups de cœurs"%>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4"><%= @timeline.title %></h1>
    <p class="lead"><%= @timeline.description %></p>
    <a href="./"><button type="button" class="btn btn-primary">Revenir à l'accueil</button></a>
  </div>
</section>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <% @timeline.arts.sort.each_with_index do |art, index| %>
          <% if index == 0 %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="active"></li>
          <% else %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>"></li>
          <% end %>
        <% end %>
    </ol>
    <div class="carousel-inner" role="listbox">
      <% @timeline.arts.sort.each_with_index do |art, index| %>
        <% if index == 0 %>
          <div class="carousel-item active" style="background-image: url('<%= art.image %>');">
            <div class="opacity_shadow_slideshow"></div>
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><%= art.title %></h2>
              <p class="lead"><%= art.description %></p>
            </div>
          </div>
        <% else %>
          <div class="carousel-item" style="background-image: url('<%= art.image %>');">
            <div class="opacity_shadow_slideshow"></div>
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4"><%= art.title %></h2>
              <p class="lead"><%= art.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<% else %>

  <% @timeline.arts.sort.each do |art| %>
    <%= art.title %>
    <br/>
  <% end %>

<% end %>